

.wrap {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 88px;
    background-color: #AA0601;
}

.header span {
    margin: 0 32px;
    font: normal normal normal Noto Sans;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}

.header span:last-child {
    margin-left: 32px;
}

.main {
    flex-grow: 1;
}
.main img {
    display: block;
    position: relative;
}
.main-img-title-box {
    position: absolute;
    top: 41.666%;
    right: 21.093%;
}

.main-img-title-subtitle, .main-img-title-title {
    color: #650300;
    text-align: right;
}

.main-img-title-subtitle {
    font: normal normal normal 36px/54px Noto Sans;
}

.main-img-title-title {
    font: normal normal bold 64px/96px Noto Sans;
}

.main-text-box, .main-classic-box, .main-custom-box {
    max-width: 1200px;
    margin: 64px auto 80px auto;
}

.main-text-title {
    text-align: center;
    font: normal normal bold 48px/72px Noto Sans;
}

.main-text-subtitle-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 60px;
}

.main-text-subtitle-box .box-w {
    max-width: 80%;
}

.main-text-subtitle-box div > img {
    display: block;
    margin: 0 auto;
    min-height: 100px;
}

.main-text-subtitle-box div .box-card-title {
    color: #650300;
    font: normal normal bold 24px/36px Noto Sans;
    text-align: center;
    margin-top: 40px;
}

.main-text-subtitle-box div .box-card-subtitle {
    font: normal normal normal 16px/24px Noto Sans;
    text-align: left;
    margin: 0 38px;
}

.main-classic-box-title {
    text-align: center;
    font: normal normal bold 48px/72px Noto Sans;
    margin-bottom: 60px;
    color: #650300;
}

.main-classic-img-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-classic-img-box img {
    display: inline;

}

.main-classic-img-box .img-w {
    width: 50%;
}

.main-classic-img-box .icon-w {
    width: 48px;
    min-height: 48px;
}

.main-classic-img-box .icon-l-m {
    margin: 0 8px 0 30px;
}

.main-classic-img-box .icon-r-m {
    margin: 0 8px 0 auto;
}

.main-classic-img-box .text-r-m {
    margin-right: 30px;
}


.classic-subtitle {
    color: #AA0601;
    font: italic normal 900 48px/72px Roboto;
}

.main-classic-img-box + .main-classic-img-box {
    margin-top: 32px;
}

.main-feat-box {
    padding: 64px 0 80px 0;
    background-image: url("../img/week3/bg.png");
    background-repeat: no-repeat;
    background-position: center;
}

.main-feat-box-title {
    color: #fff;
    font: normal normal bold 48px/72px Noto Sans;
    text-align: center;
}

.main-feat-box-img {
    margin-top: 60px;
    text-align: center;
}

.main-feat-box-img .img-box-left, .main-feat-box-img .img-box-right {
    display: inline-block;
    width: 540px;
    height: 472px;
    margin: 0 15px;
    background-repeat: no-repeat;
    background-position: center;
}

.main-feat-box-img .img-box-left {
    background-image: url("../img/week3/product-8.png");
}

.main-feat-box-img .img-box-right {
    background-image: url("../img/week3/product-9.png");
}

.img-box-left .img-box-white, .img-box-right .img-box-white {
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}


.img-box-white .img-title {
    color: #AA0601;
    font: normal normal bold 72px/108px Roboto;
}

.main-custom-box-title {
    color: #650300;
    font: normal normal bold 48px/72px Noto Sans;
    text-align: center;
    margin-bottom: 60px;
}

.main-custom-box .box-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.box-cards .box-w {
    max-width: 255px;
    margin: 0 15px;
    border: 1px solid #DEE2E6;
}

.box-cards .box-w:first-child {
    margin-left: 0;
}

.box-cards .box-w:last-child {
    margin-right: 0;
}

.box-cards .box-w img {
    width: 100%;
    height: 256px;
}

.box-cards .box-w div {
    padding: 0 16px;
    font: normal normal normal 14px/21px Roboto;
}

.box-cards .box-w div:first-of-type {
    margin-top: 14px;
    margin-bottom: 10px;
}

.box-cards .box-w div:last-child {
    margin-top: 10px;
    margin-bottom: 15px;
    color: #707070;
}


.footer {
    background-color: #AA0601;
    padding: 36px 0 29px 0;
}

.footer-main {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-main-btn-box {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.footer-main-btn-ul {
    margin-right: auto;
}
.footer-main-btn-ul li {
    display: inline;
    margin: 0 24px;
    font: normal normal normal 16px/24px Noto Sans;
    color: #fff;
}

.footer-main-btn-ul li:first-child {
    margin-left: 0;
}

.footer-main-btn-img img{
    display: inline;
    margin-left: 32px;
}

.footer-main-btn-img img:first-child{
    margin-left: 0;
}

.footer-main-tel, .footer-main-mail {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.footer-main-tel {
    margin-top: 18px;
}

.footer-main-mail {
    margin-top:17px;
    padding-bottom: 16px;
    border-bottom: 1px solid #fff;
}

.footer-main-tel-text, .footer-main-mail-text {
    color: #fff;
    font: normal normal normal 36px/54px Roboto;
}

.footer-main-tel-text-ml {
    margin-left: 17px;
}

.footer-main-mail-text-ml {
    margin-left: 12px;
}

.footer-main-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
}

.footer-main-logo img {
    display: inline;
}

.footer-main-logo span {
    font: normal normal normal 14px/21px Noto Sans;
    color: #fff;
}

.footer-main-logo-text {
    margin-left: 38px;
    margin-right: auto;
}


.footer-main-logo span:last-child {
    margin-left: 62px;
}
