@media all and (max-width: 992px) {
    .header {
        padding: 30px 39px;
    }

    .header span {
        margin: 0 20px;
    }

    .main-text-box,
    .main-classic-box,
    .main-custom-box,
    .main-form-box-w {
        padding: 40px 0 80px 0;
    }

    .main-classic-box {
        padding: 40px 39px;
    }

    .main-feat-box {
        padding: 40px 0;
    }

    .main img.main-img-lg {
        display: none;
    }

    .main img.main-img-ml {
        display: block;
    }

    .main-img-title-box {
        top: 44.285%;
        right: 5.078%;
    }

    .main-img-title-subtitle {
        font: normal normal medium PingFang TC;
        font-size: 20px;
        line-height: 30px;
    }

    .main-img-title-title {
        font-size: 48px;
        line-height: 72px;
    }

    .main-text-subtitle-box {
        flex-wrap: wrap;
        margin-top: 32px;
        padding: 0 86px;
    }

    .main-text-title {
        font-size: 32px;
        line-height: 48px;
    }

    .main-text-subtitle-box .box-w {
        max-width: 50%;
    }

    .main-text-subtitle-box .box-mt-ml {
        margin-top: 40px;
    }

    .main-text-subtitle-box .box-w  img {
        height: 80px;
        width: 80px;
    }

    .main-text-subtitle-box div .box-card-title {
        font-size: 20px;
        line-height: 30px;
        margin-top: 16px;
        margin-bottom: 8px;
    }

    .main-text-subtitle-box div .box-card-subtitle {
        font-size: 16px;
        line-height: 24px;
    }

    .main-classic-box-title {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 32px;
    }

    .main-classic-img-box.showImg-lg {
        display: none;
    }

    .main-classic-img-box.showImg-ml {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .main-classic-img-box .icon-w {
        width: 32px;
        min-height: 26px;
    }

    .classic-subtitle {
        font-size: 28px;
        line-height: 42px;
    }

    .main-classic-img-box + .main-classic-img-box {
        margin-top: 8px;
    }

    .main-feat-box-title {
        font-size: 32px;
        line-height: 48px;
    }

    .main-feat-box-img {
        margin-top: 32px;
    }

    .main-feat-box-img .img-box-left, .main-feat-box-img .img-box-right {
        width: 330px;
        height: 280px;
        background-size: 100%;
    }

    .img-box-white .img-title {
        font-size: 32px;
        line-height: 25px;
    }

}
