.header {
    background-image: url('../img/week2/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 958px;
    position: relative;
}

.header-main {
    position: absolute;
    top: 356px;
    left: 806px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 304px;
}

.text-color-w {
    color: #fff;
}

.text-color-b {
    color: #000000;
}

.text-center {
    text-align: center;
}

.header-main-title-text-style {
    font: italic normal bold 24px/42px Roboto;
    letter-spacing: 0;
}

.header-main-main-text-style {
    font: italic normal 900 80px/94px Roboto;
    letter-spacing: 0;
}

.header-main-content-text-style {
    align-self: center;
    font: italic normal bold 22px/36px Roboto;
    letter-spacing: 0;
}
.header-main-content-text-w {
    width: 312px;

}

.header-main-content-text-p {
    padding: 0 10px;
}

.header-main-content-text-mt {
    margin-top: 32px;
}

.header-main-btn {
    width: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
}

.header-main-btn-size {
    width: 60px;
    height: 60px;
}

.about-title {
    margin-top: 64px;
}

.about-title-style {
    font: italic normal medium Roboto;
    font-size: 64px;
    line-height: 75px;
}

.about-photo-size {
    display: block;
    width: 384px;
    height: 384px;
    margin: 40px auto 0 auto;
}

.about-name-style {
    font: italic normal bold 24px/42px Roboto;
    margin-top: 24px;
}

.about-day-style {
    font: italic normal bold 24px/42px Roboto;
    padding: 8px;
}

.about-overview-style {
    max-width: 412px;
    margin: 0 auto 28px auto;
    font: italic normal bold 24px/36px Roboto;
}

.about-li-style {
    list-style: none;
}

.about-li-style  li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #891818; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 22px; /* Also needed for space (tweak if needed) */
    margin-right: 16px; /* Also needed for space (tweak if needed) */
    font-size:22px;
    vertical-align:middle;
    line-height:22px;
}

.about-li-style  li {
    font: italic normal bold 24px/42px Roboto;
}

.about-ul-m {
    margin-bottom: 56px;

}

.brand {
    background-color: #000000;
}

.brand-title-style {
    padding-top: 64px;
    font: italic normal medium Roboto;
    font-size: 64px;
    line-height: 75px;
}
.brand-subtitle-style {
    font: italic normal medium Roboto;
    font-size: 24px;
    line-height: 42px;
}
.brand-overview-style {
    font: italic normal medium Roboto;
    font-size: 20px;
    line-height: 30px;
}

.brand-overview-first-m {
    margin-top: 32px;
}

.brand-img-box-pb {
    padding-bottom: 160px;
}
.brand-img-top {
    display: block;
    margin: 68px auto 40px auto;
}

.brand-img-left {
    display: inline-block;
    margin-right: 12px;
}
.brand-img-right {
    display: inline-block;
    margin-left: 12px;
}
.other-works-title-style {
    margin-top: 64px;
    font: italic normal medium Roboto;
    font-size: 64px;
    line-height: 75px;
}

.other-works-subtitle-style {
    font: italic normal medium Roboto;
    font-size: 20px;
    line-height: 30px;
}

.other-works-img-box {
    padding: 0 348px;
}

.other-works-img-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.other-works-img-flex > div {
    margin: 0 12px 56px 12px;
}

.other-works-img-top-w3 {
    width: 384px;
    height: 528px;
}
.other-works-img-mid-w2 {
    width: 588px;
    height: 424px;
}
.other-works-img-bottom-w3 {
    width: 384px;
    height: 280px;
}

.other-works-img-title-style {
    margin-top: 16px;
    font: italic normal medium Roboto;
    font-size: 20px;
    line-height: 42px;
}

.other-works-subtitle-m {
    margin: 24px 0 56px 0;
}

.footer {
    background-color: black;
    padding: 64px 0 80px 0;
}

.footer-title-mb {
    margin-bottom: 16px;
}

.footer-title-style {
    font: italic normal medium Roboto;
    font-size: 64px;
    line-height: 75px;
}

.footer-mail-style {
    font: italic normal medium Roboto;
    font-size: 24px;
    line-height: 36px;
}
